{{#base logo="true" body_id="index_page"}}
  {{#wrap}}
    <p>As a local organizer, it would be wonderful to be more tied in to the direction of the larger Node.js community. There are many user groups that have expressed a need for help with resources, speakers, and guidance. Knode was started right after CascadiaJS after a number of Node organizers at the conference were talking about their struggles with local groups and how they'd love a sharing mechanism. By creating a portal that allows for user groups to help support each other, we will grow the community we hold dear.</p>

<p><em>The More You Knode</em> ¸.·´¯`★</p>

<p>Please <a href="https://github.com/knode/knode.github.io/issues">file issues</a> for what you'd love to see from Knode! 
Contributing documentation and roadmap coming SOON.</p>
  {{/wrap}}
{{/base}}
