{{#base}}
  {{#wrap}}
    <h1>Meetups</h1>
    <section>
        <ul>
            {{#meetups}}
                <li>
                    <h3>{{name}}</h3>
                    <h4>{{location}}</h4>
                </li>
            {{/meetups}}
        </ul>
    </section>
  {{/wrap}}
{{/base}}
